<div class="container">
  <div class="row" style="background-color: #97a884; height: 40px">
      <div class="col">
          <h3 style="color: white;"  class="mt-2">EDIT TENANT</h3>
      </div>
      <div class="col text-end">
          <button class="btn btn-sm mt-1" style="background-color: #676e5e; color: white" mat-button mat-dialog-close>
              X
          </button>
      </div>
  </div>

  <form class="mx-1 mx-md-4 p-3" [formGroup]="editTenantForm"  #f="ngForm">
      <div class="row form-group mt-4">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <label class="form-label">Tenant Name</label>
              <input type="text" class="form-control" formControlName="tenantName" required />
              <div *ngIf="
              editTenantForm.controls['tenantName'].invalid &&
          (editTenantForm.controls['tenantName'].dirty ||
          editTenantForm.controls['tenantName'].touched)
        ">
                  <p style="color: red">please enter your Name</p>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2">
            <h4>Status</h4>
            <label class="form-label">Active</label>
            <mat-slide-toggle class="ms-2" color="primary" formControlName="status"></mat-slide-toggle>
        </div>

          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
              <label class="form-label">Number of Extensions</label>
              <input type="email" class="form-control" formControlName="extensions" required />
              <div *ngIf="
              editTenantForm.controls['extensions'].invalid &&
          (editTenantForm.controls['extensions'].dirty ||
          editTenantForm.controls['extensions'].touched)
        ">
                  <p style="color: red">please enter valid E-mail</p>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <label class="form-label">Dispatcher</label>
            <input type="text" class="form-control" formControlName="dispatcher" required />
            <div *ngIf="
            editTenantForm.controls['dispatcher'].invalid &&
        (editTenantForm.controls['dispatcher'].dirty ||
        editTenantForm.controls['dispatcher'].touched)
      ">
                <p style="color: red">please enter valid Dispatcher</p>
            </div>
        </div>
      </div>
      <div class="row form-group mt-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label class="form-label">Domain Name</label>
              <input type="text" class="form-control" formControlName="domainName" required />
              <div *ngIf="editTenantForm.controls['domainName'].invalid &&
          (editTenantForm.controls['domainName'].dirty ||
          editTenantForm.controls['domainName'].touched) ">
                  <div>
                      <p style="color: red">please enter valid Domain Name</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label class="form-label">Server</label>
              <input type="text" class="form-control" formControlName="server" required />
              <div *ngIf="editTenantForm.controls['server'].invalid &&
          (editTenantForm.controls['server'].dirty ||
          editTenantForm.controls['server'].touched) ">
                  <div>
                      <p style="color: red">please enter valid name</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row form-group mt-4">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label class="form-label">Default Address</label>
              <!-- <input type="password" class="form-control" formControlName="password" required /> -->
              <textarea name="" id="" cols="50" rows="5" class="form-control" formControlName="defaultAddress"></textarea>
              <div *ngIf="editTenantForm.controls['defaultAddress'].invalid &&
              (editTenantForm.controls['defaultAddress'].dirty ||
              editTenantForm.controls['defaultAddress'].touched) ">
                      <div>
                          <p style="color: red">please enter valid password</p>
                      </div>
                  </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
             <label class="form-label">Billing Address</label>
              <input type="checkbox" class="ms-5" (click)="sameAsDefault()">
              <label for="">Same as Default Address</label>
              <!-- <input type="password" class="form-control" formControlName="password" required /> -->
              <textarea name="" id="" cols="50" rows="5" class="form-control" formControlName="billingAddress"></textarea>
              <div *ngIf="editTenantForm.controls['billingAddress'].invalid &&
              (editTenantForm.controls['billingAddress'].dirty ||
              editTenantForm.controls['billingAddress'].touched) ">
                      <div>
                          <p style="color: red">please enter valid password</p>
                      </div>
                  </div>
          </div>
      </div>
          <div class="text-end mt-3">
              <button class="btn" type="submit" style="background-color: #676e5e; color: white;" (click)="editTenant()"
              [disabled]="!f.valid">
              save
          </button>
          </div>

  </form>
</div>
