<div class="background">
  <div class="container">
    <div class="row p-4">
      <div class="col-12 col-lg-4 mt-5">
        <img src="" alt="" style="height: 100px; width: 100px" />
        <h2>CCaaS Tenant Management</h2>
      </div>
      <div class="col-12 col-lg-4"></div>
      <div class="col-12 col-lg-4" style="margin-top: 150px">
        <form>
          <div class="form-outline mb-4">
            <!-- <label class="form-label">Email
                address</label> -->

            <input
              type="email"
              class="form-control"
              style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px"
              formControlName="email"
              placeholder="E-MAIL"
            />
          </div>

          <div class="form-outline mb-4">
            <!-- <label class="form-label"  >Password</label> -->

            <input
              type="password"
              class="form-control"
              placeholder="PASSWORD"
              style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px"
              formControlName="password"
            />
          </div>

          <div class="row mb-4">
            <div class="col d-flex justify-content-center"></div>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-dark">LogIn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
